<div class="container mt-5">
  <div class="card">
      <div class="card-body">
          <span class="h3">Lista de Recicladores</span>
            <button type="button" class="btn btn-outline-success float-right" 
            style="float: right;" routerLink="/create-Reciclador" >Agregar</button>    
          <table class="table table-striped table-hover mt-3">
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Documento</th>
                  <th>Fecha de Nacimiento</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Adriana</th>
                  <td>Rojas</td>
                  <td>1070</td>
                  <td>12/09/1998</td>
                  <td>
                      <i class="fas fa-edit fa-lg text-info" style="margin-right: 30px;"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
                <tr>
                  <th>Santiagi</th>
                  <td>Rojas</td>
                  <td>1070</td>
                  <td>12/09/1998</td>
                  <td>
                      <i class="fas fa-edit fa-lg text-info" style="margin-right: 30px;"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
                <tr>
                  <th>Pepiti</th>
                  <td>Rojas</td>
                  <td>1070</td>
                  <td>12/09/1998</td>
                  <td>
                      <i class="fas fa-edit fa-lg text-info" style="margin-right: 30px;"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>